<!DOCTYPE html>
<html>
<head>
  <title>The Steam Room</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- google fonts (Impallari Type - Principal design) -->
  <style>
    @import url('https://fonts.googleapis.com/css?family=Dosis');
  </style>
</head>
<body>
  
<div class="page-wrapper">
  <div class="left-column">
    <div role="navigation" class="nav-bar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <%= link_to root_path do %>
        <h1 class="restaurant-name text-center">Steam Sum</h1>
        <% end %>
        
        <ul class="nav nav-pills nav-stacked navbar text-center">
          <li role="presentation"><%= link_to 'Menu', menu_path %></li>
          <li role="presentation"><%= link_to 'Location', location_path %></li>
          <li role="presentation"><%= link_to 'More', more_path %></li>
        </ul>
      </div> 
    </div>
    
  <div class="right-column">
    
<!-- yield is here -->
    <%= yield %>
  
  </div>
</div>



</body>
</html>
